
body, input {
  font-family: Optima, Futura, Helvetica, sans-serif; 
}

a, a:hover, a:visited {
  color: #1C4D9C;
  text-decoration: none;
}

input {
  padding: 0.4em;
  width: 97%;
  font-size: 1em;
}

#container {
  width: 500px; 
  /*border: 1px solid #ddd;*/
  margin: 7em auto;
}

#headline {
  font-size: 1.2em;
  margin-bottom: 0.2em;
}

ol {
  list-style: none; 
  margin: 2em 0;
  padding: 0;
}

.name {
  margin-top: 1em;
  color: #444;
  font-weight: bold;
}

.title {
  text-indent: -10px;
  margin-top: 0.3em;
  margin-left: 1em;
}

footer {
  border-top: 1px solid #ddd;
  color: #444;
  padding-top: 0.2em;
  text-align: center;
}
